body{
    margin: 0;
    padding: 0;
    height: fit-content;
    background-color: slateblue;
}
nav{
    height: 100px;
    width: 100%;
    background-color: rgb(7, 7, 69);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 25px;
}
.main{
    margin-top: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 3rem;
}
.main div{
    height: fit-content;
    width: fit-content;
    /* background-color: aqua; */
}

.main .rock-paper-sis{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.main .rock-paper-sis img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}

.main .score{
    display: grid;
    grid-template-rows: 0.5fr .5fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
}

.main .score .self-score,.computer-score{
    font-size: 5rem;
}

.main .score .self-heading,.computer-heading,.result-display{
    font-size: 2rem;
}

.main .score p{
    text-align: center;
    margin: 0;
    padding: 0;
}

.main .result p{
   padding-left: 2rem;
   padding-right: 2rem;
}

.main .result{
    border-radius: 20px;
    background-color: rgb(7, 7, 69);
    color: white;
 }

.main .lose-color{
   background-color: red;
}

.main .draw-color{
    border-radius: 20px;
    background-color: rgb(7, 7, 69);
    color: white;
}


.main .win-color{
    border-radius: 20px;
    background-color: rgb(7, 7, 69);
    color: white;
}